<div class='flex vertical'>
  <div class='content flex horizontal' style='flex: 8'>
    <div class='side-bar flex vertical'>
      <div class='flex' style='flex: 4; flex-direction: column'>
        {{#paper-subheader}}Available Rooms - {{username}}{{/paper-subheader}}
        {{paper-divider}}
        {{#paper-list class='room-list'}}
          {{#each available_rooms as |room|}}
            {{#paper-item class='md-line-3 flex horizontal' onClick=(action (if (eq current_room_id room_id) 'confirm_join_room' 'confirm_leave_room') room) }}
              {{paper-icon "face" class="md-avatar-icon"}}
              <div class="md-list-item-text">
                <h6>{{room.room_id}}</h6>
                <h6>{{room.num_users}} / {{room.capacity}} users</h6>
              </div>
            {{/paper-item}}
          {{/each}}
        {{/paper-list}}
      </div>
      <div class='flex vertical' style='flex: 2'>
        {{#paper-subheader}}System Logs{{/paper-subheader}}
        {{paper-divider}}
        {{#paper-list class='logs'}}
          {{#each logs as |log|}}
            {{#paper-item}}<code>{{log.message}}</code>{{/paper-item}}
          {{/each}}
        {{/paper-list}}
      </div>
    </div>
    <div class='flex' style='flex: 8'>
      {{#if current_room_id}}
        RoomId: {{current_room_id}}<br/>
        Host: {{current_room_host}}<br/>
        {{#each-in userStateMap as |user state|}}
          {{log user}}
          {{log state}}
          {{#if (not (eq user username))}}{{user}} - {{get state 'cards'}} - [{{get state 'state'}}] <br/>{{/if}}
        {{/each-in}}
        {{#if (and (eq username current_room_host) username)}}
          <div class='admin-panel'>
            {{#paper-subheader}}Admin Panel{{/paper-subheader}}

            {{paper-input class='ai_type' placeholder="AI Strategy" autofocus=true value=aiType onChange=(action (mut aiType))}}
            {{paper-input class='start_cards' placeholder="AI Start Cards" value=start_cards onChange=(action (mut start_cards))}}

            {{#paper-button disabled=(or (not aiType) (eq game_state 'ready_admin')) iconButton=true primary=true onClick=(action 'addAItoRoom')}}{{paper-icon 'plus one'}}{{/paper-button}}

            {{#if (eq game_state 'ready_admin')}}
              {{#paper-button class='start_game' primary=true disabled=game_started onClick=(action 'startGame' current_room_id)}}Start Game{{/paper-button}}
            {{/if}}

            {{#each winner_list as |winner index|}}
              <div class='game-winner-{{index}}'>
                <div class='user-id'>{{winner.user_id}}</div>
                <div class='user-rank'>{{winner.rank}}</div>
                <div class='user-cards'>
                  {{#each winner.hand as |card|}}
                    {{card}}-
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
        {{#if isYourTurn}}
          <div class='action-panel'>
            Your turn!
            {{#paper-button primary=true onClick=(action 'action_fold')}}Fold{{/paper-button}}
            {{#paper-button class='button_hold' secondary=true disabled=canSubmitRemoveCards onClick=(action 'action_hold')}}Hold{{call_amount}}{{/paper-button}}
            {{#paper-button primary=true disabled=(not canSubmitRemoveCards) onClick=(action 'improveCards' removeFromHandList)}}Improve Cards{{/paper-button}}
          </div>
        {{/if}}
        <div class='content'>
          <div class='cards'>
            my hand
            {{#each hand as |card|}}
              <div {{action 'toggleCardInRemoveQueue' card}}>{{card}}</div>
            {{/each}}
            Cards to remove
            {{#each-in removeFromHandQueue as |card_to_remove obj|}}
              <div {{action 'toggleCardInRemoveQueue' card_to_remove}}>{{card_to_remove}}</div>
            {{/each-in}}
          </div>
        </div>
      {{else}}
        Not connected to any room
      {{/if}}
    </div>
  </div>
  {{#paper-button secondary=true class='host-game' isVisible=isSessionRunning onClick=(action (mut showHostGameModal) true)}}Host Game{{/paper-button}}
</div>
{{#if showHostGameModal}}
  {{host-dialog
    onClose=(action (mut showHostGameModal) false)
    onSubmit=(action 'host_room')
    numPlayers=numPlayers
  }}
{{/if}}
{{#if joinRoomModalVisible}}
  {{confirm-join-dialog
    onClose=(action (mut joinRoomModalVisible) false)
    onSubmit=(action 'attempt_join_room' modal_room)
    room=modal_room
  }}
{{/if}}
{{paper-toaster}}
