<div class='flex vertical'>
  <div class='content flex horizontal' style='flex: 8'>
    <div class='side-bar flex vertical'>
      <div class='flex' style='flex: 4; flex-direction: column'>
        {{#paper-subheader}}Available Rooms - {{username}}{{/paper-subheader}}
        {{paper-divider}}
        {{#paper-list class='room-list'}}
          {{#each available_rooms as |room|}}
            {{#paper-item class='md-line-3 flex horizontal' onClick=(action (if (eq current_room_id room_id) 'confirm_join_room' 'confirm_leave_room') room) }}
              {{paper-icon "face" class="md-avatar-icon"}}
              <div class="md-list-item-text">
                <h6>{{room.room_id}}</h6>
                <h6>{{room.num_users}} / {{room.capacity}} users</h6>
              </div>
            {{/paper-item}}
          {{/each}}
        {{/paper-list}}
      </div>
      <div class='flex vertical' style='flex: 2'>
        {{#paper-subheader}}System Logs{{/paper-subheader}}
        {{paper-divider}}
        {{#paper-list class='logs'}}
          {{#each logs as |log|}}
            {{#paper-item}}<code>{{log.message}}</code>{{/paper-item}}
          {{/each}}
        {{/paper-list}}
      </div>
    </div>
    <div class='flex' style='flex: 8'>
      RoomId: {{current_room_id}}<br/>
      Host: {{current_room_host}}<br/>
      {{#each users as |user|}}
        {{user}}<br/>
      {{/each}}
      {{#if (and (eq username current_room_host) username)}}
        <div class='admin-panel'>
          {{#paper-subheader}}Admin Panel{{/paper-subheader}}
          {{#paper-select
            disabled=disableSelect
            label="AI Strategy"
            options=aiTypes
            selected=aiType
            onChange=(action (mut aiType))
            as |state|}}
            {{state.type}}
          {{/paper-select}}
          {{aiType.description}}
          {{#paper-button disabled=(not aiType) iconButton=true primary=true onClick=(action 'addAItoRoom')}}{{paper-icon 'plus one'}}{{/paper-button}}

          {{#if (eq game_state 'ready_admin')}}
            {{#paper-button primary=true disabled=game_started onClick=(action 'startGame' current_room_id)}}Start Game{{/paper-button}}
          {{/if}}
        </div>
        <div class='content'>
          <div class='cards'>
            {{#each hand as |card|}}
              {{card}}
            {{/each}}
          </div>
        </div>
      {{/if}}
      {{#if isYourTurn}}
        <div class='action-panel'>
          Your turn!
        </div>
      {{/if}}
    </div>
  </div>
  {{#paper-button secondary=true class='host-game' isVisible=isSessionRunning onClick=(action (mut showHostGameModal) true)}}Host Game{{/paper-button}}
</div>
{{#if showHostGameModal}}
  {{host-dialog
    onClose=(action (mut showHostGameModal) false)
    onSubmit=(action 'host_room')
    numPlayers=numPlayers
  }}
{{/if}}
{{#if joinRoomModalVisible}}
  {{confirm-join-dialog
    onClose=(action (mut joinRoomModalVisible) false)
    onSubmit=(action 'attempt_join_room' modal_room)
    room=modal_room
  }}
{{/if}}
